html, body {
    height: 100%;
}

body {
    background-color: rgb(34, 34, 58);
    color: white;
    font-family: Roboto;
    transition-duration: 0.2s;
}

select {
    margin: 5px;
    padding: 10px 5px;
}

button {
    padding: 20px 40px;
    background: rgb(176, 255, 5);
    color: black;
    border: none;
}