@keyframes rotation {
    0% {
        transform: rotate(0deg);
        font-size: 48px;
    }
    33% {
        transform: rotate(5deg);
    }
    50% {
        font-size: 60px;
    }
    67% {
        transform: rotate(-5deg);
    }
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(34, 34, 58);
    color: white;
    font-family: Roboto;
    transition-duration: 0.2s;
}

select {
    margin: 5px;
    padding: 10px 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

#play {
    padding: 20px 60px;
    background: rgb(176, 255, 5);
    color: black;
    border: none;
    margin-top: 30px;
}